<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Bottle Home</title>
    <link rel="stylesheet" type="text/css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
</head>
<body>
    <h1>Initial Home page</h1>
    <p>My image:</p>
    <img src="/images/Bottle.png">

    <br /><br />
    <div class="" id="listA">My List A</div>
       <ol>
          <li>listA1</li>
          <li>listA2</li>
          <li>listA3</li>
       </ol>
    </div>
</body>
</html>